body {
    background-color: #fff6ef;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
	max-width: 1000px;
	font-family: 'Oswald', sans-serif;
}
img {
	width: 450px;
	height: 350px;
	z-index: -2; 
	position: absolute;

	opacity: 0.25; 
}
.background {
	left:17%;
}
.background2 {

	right: 17%;

}
h2, h4 {
    text-align: center;
	margin-bottom: 10px;
	font-weight: 400;
	background-color: white;
}
h5 {
	font-weight: 400;
	
}
p1 {
	font-weight: 400;
}
select {
	margin-left: 2px;
	margin-right: 2px;
	font-weight: 400;
}
.board1 {
	margin: auto;
	background-color: #fffffff5;
	display: inline-block;
	text-align:left;
    width: 850px;
    margin: 10px;
    padding: 10px;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    /* border: 1px solid black; */
}

.k1069v, .k1079 {
	font-size: 18px;
	background-color: rgb(209, 199, 177);
	margin: auto;
    margin-top: 10px;
	margin-bottom: 10px;
	width: 600px;
}
.answer {
	display: inline-block;
}
.answer69, .answer79 {
	color:#969696;
	margin: auto;
	width: 600px;
	border: 1px solid black;
	padding-left: 90px;
    margin-top: 10px;
	margin-bottom: 10px;
    height: 30px;
}



.my-flex-cont {
	font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
   }
   .my-flex-box {
	margin: 0;
    align-content: left;
    /* margin: 5px; */
	margin-top: 10px;
    padding: 0;
    flex: 0 1 auto;
}
input {
	width: 140px;
}
button {
	margin-left: 560px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	font-family: 'Oswald', sans-serif;
}
button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
	top:1px;
}
form {
    text-align: center;
}
#upload {
    width: 300px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	font-family: 'Oswald', sans-serif;
}
#upload:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
#upload:active {
	position:relative;
	top:1px;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
